<p>calculator works!</p>
<h1> india</h1>
<div class="container">
	<div class="form-group">
		<input type="number" class="form-control" placeholder="FirstNumber" [(ngModel)] = "FirstNumber">
    <input type="number" class="form-control" placeholder="SecondNumber" [(ngModel)] = "SecondNumber">
    <input value = "{{Sum}}" type="text" class="form-control" placeholder="Sum">

  </div>
  <button class = "btn btn-primary" (click) = "add()">Add</button>
  <button class = "btn btn-primary" (click) = "subtract()">subtract</button>
  <button class = "btn btn-primary" (click) = "multiple()">multiple</button>
  <button class = "btn btn-primary" (click) = "division()">division</button>

  <button class = "btn btn-secondary" (click) = "clear()">Clear</button>

<!-- <div class="container"> -->
     <!-- <div class = "form-group">
    <input type="number" class="form-control" placeholder="FirstNumber" [(ngModel)] = "FirstNumber1">
    <input type="number" class="form-control" placeholder="SecondNumber" [(ngModel)] = "SecondNumber1"> -->
    <input value = "{{FirstNumber+SecondNumber}}" type="text" class="form-control" placeholder="Sum" 
    >
    <input value = "{{FirstNumber-SecondNumber}}" type="text" class="form-control" placeholder="Sum" 
    >
    <input value = "{{FirstNumber*SecondNumber}}" type="text" class="form-control" placeholder="Sum" 
    >
    <input value = "{{FirstNumber/SecondNumber}}" type="text" class="form-control" placeholder="Sum" 
    >

  




